# TODO Merge the two docker compose files
services:
  postgres:
    image: postgres:17
    container_name: fmz_tracker_postgres
    expose:
      - 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - postgres.env
    restart: always

  rabbitmq:
    image: rabbitmq:3.12
    container_name: fmz_tracker_rabbitmq
    expose:
      - 5672
    env_file:
      - rabbitmq.env
    restart: always

  django:
    container_name: fmz_tracker_django
    build:
      dockerfile: docker/Dockerfile
      target: django
    expose:
      - 8000
    env_file:
      - postgres.env
      - rabbitmq.env
      - django.env
    depends_on:
      - postgres
      - discord
    restart: always

  discord:
    container_name: fmz_tracker_discord
    build:
      dockerfile: docker/discord/Dockerfile
    expose:
      - 5000
    ports:
      - 5000:5000
    env_file:
      - discord.env
    restart: always

  celery:
    container_name: fmz_tracker_celery
    build:
      dockerfile: docker/Dockerfile
      target: django
    env_file:
      - postgres.env
      - rabbitmq.env
      - django.env
    depends_on:
      - rabbitmq
      - postgres
    command:
      - python
      - -m
      - celery
      - -A
      - tracker
      - worker
      - --loglevel=INFO
      - --beat
    restart: always

  nginx:
    container_name: fmz_tracker_nginx
    build:
      dockerfile: docker/Dockerfile
      target: nginx
    ports:
      - 8080:8080
    depends_on:
      - django
    restart: always

volumes:
  postgres_data:
